In [ ]:
l = ['Purple' , 'Orange' ,'orange' , 'Green']

t = tuple(l) 

t2 = list(t) 

t2.append("Barcode")

print(t2)

In [ ]:
s = set(l)
print (s)

In [ ]:
d = {1: 'square' , 2: 'circle' ,3: 'triangle' , 1: 'rectangle'}
d[1]

#The last value get overwrited on the values before

In [ ]:
d = {1: 'triangle' , 2: 'circle' , 3: 'triangle'}
d[1]

#If keys are provided then sets can hold similar values in different keys

In [ ]:
d = {1: 'triangle' , 2: 'circle' , 1: 'triangle'}
d[1]

In [ ]:
s = {1: '1' , 2: '2' , 3: '3'}

In [ ]:
d = {}
d[0] = 2
d[1] = 4
d[2] = 5
d[3] = 'RAIN'
d[4] = False

print(len(d))

print(d)

In [ ]:
d = {}
for i in range(1,51):
    d[i] = input()
print(len(d))
print(d)

In [25]:
d = {}
for i in range(1,5):
    t = (i, )
    d[t] = str(i)
print(d)

#Integers are not convertable to tuple bcz int are iterables

{(1,): '1', (2,): '2', (3,): '3', (4,): '4'}

In [42]:
# d = {}
# for i in range(1,5):
#     t = [i]
#     d[t] = str(i)
# print(d)

In [41]:
# d = {}
# for i in range(1,51):
#     t = {i}
#     d[t] = str(i)
# # print(d)

In [39]:
# i = 2
# tuple(i)
# print(i)

In [45]:
#Another way to write a dictionay

In [50]:
MLB_TEAM = dict([ ('Colorado' , 'Rockies'),
                  ('Boston' , 'Red Sox'),
                  ('Minnesota' , 'Twins'),
                  ('Milwaukee' , 'Brewers'),
                  ('Seattle' , 'Mariners'),
                ])

print(type(MLB_TEAM))

<class 'dict'>

In [51]:
#Another way to write a dictionay

In [80]:
Language = dict(  Python = 'High Level',
                  C = 'Low Level',
                  Mojo = 'High level',
                  Java = 'Low Level')

Language['Java']

'Low Level'

In [83]:
datesheet = dict(calculus = '20 June 23',
                  Maths = '23 June 23',
                  English = '22 June 23',
                  C = '23 June 23'  )

datesheet['C++'] = '7 June 23'
datesheet['Physics'] = '25 June 23'
datesheet['LPP'] = None
print(datesheet)

{'calculus': '20 June 23', 'Maths': '23 June 23', 'English': '22 June 23', 'C': '23 June 23', 'C++': '7 June 23', 'Physics': '25 June 23', 'LPP': None}

In [84]:
type(None)

NoneType

In [85]:
'Python' in datesheet

False

In [86]:
'LPP' in datesheet

True

In [87]:
'C   ' .strip() in datesheet

True

In [94]:
# del datesheet['C' , 'English' , 'C++']
#Cannot delete multiple keys

In [92]:
print(datesheet)

{'calculus': '20 June 23', 'Maths': '23 June 23', 'English': '22 June 23', 'C++': '7 June 23', 'Physics': '25 June 23', 'LPP': None}

In [100]:
#Possible
d1 = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d2 = {(1,1): 'a' , (1,2): 'b', (2,1): 'c', (2,2): 'd'}

print(d1[0] == d2[(1,1)])
print(d1[0] > d2[(1,1)])

# Not Possible
# d3 = {[1,1]: 'a' , [1,2]: 'b', [2,1]: 'c' , [2,2]: 'd'}

True
False

In [107]:
#Clearing a dictionary

In [108]:
d = {1: '1' , 'a': 'Apple'}
d['a']
d[1]

d.clear()
print(d)

{}

In [109]:
#To get a value in dictionary

In [157]:
d = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
print(d.get('B' , 'Not found in the key'))
print(d.get('a'))

Not found in the key
None

In [127]:
#to get access to a key or value

In [158]:
d = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d.keys()

dict_keys([0, 1, 2, 3])

In [159]:
for keys in d:
    print(keys)

0
1
2
3

In [160]:
d = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d.values()

dict_values(['a', 'b', 'c', 'd'])

In [161]:
for values in d.values():
    print(values)

a
b
c
d

In [162]:
d = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d.items()

dict_items([(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')])

In [163]:
for k , v in d.items():
    print(f"Keys -> {k} and values -> {v}")

Keys -> 0 and values -> a
Keys -> 1 and values -> b
Keys -> 2 and values -> c
Keys -> 3 and values -> d

In [150]:
#Question 
# 1.40
# 2. Not Exist - d -> 40
# 3. Exists

In [175]:
#This will show error if key not found ---> d.pop('z')
#Use this instead of this to get a custom message.
d = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d.pop('z' , 'Not Found')

'Not Found'

In [176]:
print(d)

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [178]:
d = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d['e'] = 500
d.popitem()

('e', 500)

In [179]:
print(d)

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [181]:
d1 = {0: 'a' , 1: 'b' , 2: 'c' , 3:'d'}
d2 = {(1,1): 'a' , (1,2): 'b', (2,1): 'c', (2,2): 'd'}

d1.update(d2)
d1.update([('b' , 200),('d' ,400)])
d1.update(b=200,d=400)

In [182]:
print(d1)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', (1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd', 'b': 200, 'd': 400}