### For Loop

In [1]:
Name = ['Amit' , 'Rahul' , 'Sumit' , 'Aditya']

for Names in Name:
    print(Names)
    
print('Done!')

Amit
Rahul
Sumit
Aditya
Done!

In [2]:
number_list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for even_number in number_list:
    if even_number%2==0:
        print("Even number -> " , even_number)

Even number ->  0
Even number ->  2
Even number ->  4
Even number ->  6
Even number ->  8
Even number ->  10
Even number ->  12
Even number ->  14

In [3]:
List = list(range(101))
for num in List:
    if num%2 == 0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [4]:
#Question 2

In [5]:
sum_of_numbers = 0

for num in range(100):
    if num % 3 == 0:
        sum_of_numbers += num

print("Sum of the numbers:", sum_of_numbers)

Sum of the numbers: 1683

In [6]:
#Question 3

In [7]:
names = ["Bill Gates", "Steve Jobs", "Mark Zuckerberg" , "Amit" , "Rahul"]
letter = "b" 
for name in names:
    if letter in name or letter.upper() in name:
        print(name)

Bill Gates
Steve Jobs
Mark Zuckerberg

In [8]:
#Question 4

In [9]:
n = int(input())

for i in range(n+1):
    print(n-1-i)

In [ ]:
#Modified Code

In [ ]:
print("Enter the number last number ")
n = int(input())
for num in range(n-1,-1,-1):
    print(num, end =" ")

In [ ]:
n = int(input("Enter the number -> "))
for num in range(n,-1,-1):
    print(num, end="  ")

In [ ]:
#Question 5

In [ ]:
n = int(input("Enter the number: "))
for num in range(0,n,2):
    print(num)

In [ ]:
#Question 6

In [ ]:
names = [ "Bill gates" , "Mark zukerburg" , "Aesthetic"]
for name in names: 
    for letters in name:
        print( letters )

In [ ]:
#Question 7

In [ ]:
sum = 0
n = int(input())
for num in range(n+1):
    sum += num
print("Average is--> " ,sum/n)

In [ ]:
#Additional questions

n = int(input("Enter the last number "))
for i in range(0,n,7):
    print(i , end="\t")

In [ ]:
#Additional questions

n = int(input("Enter the last number "))
for i in range(0,n,7):
    print(i , end=" ")

In [ ]:
#Print a pattern

In [ ]:
for i in range(1,8):
    str='*'*i
    print(str)

In [ ]:
n = int(input())
for i in range(1,n+1):
    str='*'*i
    print(str)

In [ ]:
n = int(input("Total number of pattern-> "))
print("The Patter will be")
for i in range(n,-1,-1):
    str='*'*i
    print(str)

In [ ]:
n = int(input())
for i in range(1,n+1):
    str='*'*i
    print(str)
for i in range(n,-1,-1):
    str='*'*i
    print(str)

In [ ]:
n = int(input())
for i in range(0,n+1):
    str=(n-i)*' '+ i*" *"  
    print(str)
for i in range(n,-1,-1):
    str=(n-i)*' '+ i*" *"  
    print(str)

### Control For Loop

In [ ]:
number = [1,4,8,21,96,45,14,25,85]

for i in number:
    if i > 45:
        break
    else:
        print(i)

In [ ]:
number = [1,4,8,21,96,45,14,25,85]

for i in number:
    if i <= 4:
        print(i)

### While Loop

In [ ]:
counter = 0
while counter < 5:
    print("Hi")
    counter += 1

In [ ]:
n = int(input("Enter the value of 'n': "))
sum_numbers = 0
count = 0

while count <= n:
    sum_numbers += count
    count += 1

average = sum_numbers / n

print("Average of the first", n, "natural numbers:", average)

In [ ]:
#Interview Question

In [ ]:
n = int(input("Enter an integer: "))
reversed_n = 0

while n > 0:
    digit = n % 10
    reversed_n = (reversed_n * 10) + digit
    n = n // 10

print("Reversed integer:", reversed_n)

### Nested Loop

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i} X {j} = " , i*j)
    print()

In [ ]:
i = 0
while i < 11:
    i+=1
    for j in range(1,11):
        print(f"{i} X {j} = " ,  i*j ) 
    print()

1 X 1 =  1
1 X 2 =  2
1 X 3 =  3
1 X 4 =  4
1 X 5 =  5
1 X 6 =  6
1 X 7 =  7
1 X 8 =  8
1 X 9 =  9
1 X 10 =  10

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 =  10
2 X 6 =  12
2 X 7 =  14
2 X 8 =  16
2 X 9 =  18
2 X 10 =  20

3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 =  12
3 X 5 =  15
3 X 6 =  18
3 X 7 =  21
3 X 8 =  24
3 X 9 =  27
3 X 10 =  30

4 X 1 =  4
4 X 2 =  8
4 X 3 =  12
4 X 4 =  16
4 X 5 =  20
4 X 6 =  24
4 X 7 =  28
4 X 8 =  32
4 X 9 =  36
4 X 10 =  40

5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50

6 X 1 =  6
6 X 2 =  12
6 X 3 =  18
6 X 4 =  24
6 X 5 =  30
6 X 6 =  36
6 X 7 =  42
6 X 8 =  48
6 X 9 =  54
6 X 10 =  60

7 X 1 =  7
7 X 2 =  14
7 X 3 =  21
7 X 4 =  28
7 X 5 =  35
7 X 6 =  42
7 X 7 =  49
7 X 8 =  56
7 X 9 =  63
7 X 10 =  70

8 X 1 =  8
8 X 2 =  16
8 X 3 =  24
8 X 4 =  32
8 X 5 =  40
8 X 6 =  48
8 X 7 =  56
8 X 8 =  64
8 X 9 =  72
8 X 10 =  80

9 X 1 =  9
9 X 2 =  18
9 X 3 =  27
9 X 4 =  36
9 X 5 =  45
9 X 6 =  54
9 X 7 =  63
9 X 8 =  72
9 X 9 =  81
9 X 10 =  90

10 X 1 =  10
10 X 2 =  20
10 X 3 =  30
10 X 4 =  40
10 X 5 =  50
10 X 6 =  60
10 X 7 =  70
10 X 8 =  80
10 X 9 =  90
10 X 10 =  100

11 X 1 =  11
11 X 2 =  22
11 X 3 =  33
11 X 4 =  44
11 X 5 =  55
11 X 6 =  66
11 X 7 =  77
11 X 8 =  88
11 X 9 =  99
11 X 10 =  110

In [ ]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i += 1

1
2

In [ ]:

count = 0
while(True):
    if count % 3 == 0:
        print(count, end = " ")
    if(count > 15):
        break;
    count += 1

0 3 6 9 12 15