In [6]:
import pymysql

In [10]:
def createtable():
    conn=createconnection()
    cursor=conn.cursor()
    query="create table student (Name VARCHAR(50), Age = VARCHAR(50),address VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("Table is created.")
    conn.close()
createtable()

NameError: name 'createconnection' is not defined