In [1]:
#Day1

In [5]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\kumar\appdata\roaming\python\python310\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymysql

In [7]:
def createconnection():
    return pymysql.connect(user="root",database="database1",password="mellowwater50",host="localhost",port=3306)

createconnection()

In [ ]:
#Day 2

In [ ]:
def createtable():
    conn = createconnection()
    cursor = conn.cursor()
    query = "CREATE TABLE student (Name VARCHAR(50), Age VARCHAR(50), Address VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("Table is created.")
    conn.close()

createtable()

In [2]:
##Insert data

In [11]:
def insertdata(Name,Age,Address):
    conn = createconnection()
    cursor = conn.cursor()
    args=Name,Age,Address
    query = "insert into student(Name,Age,Address)values(%s,%s,%s)"
    cursor.execute(query,args)
    conn.commit()
    print("Table is created.")
    conn.close()
na=input("Enter your name ")
ag=int(input("Enter your age "))
add=input("Enter your address ")
insertdata(na,ag,add)

Enter your name Pratik
Enter your age 45
Enter your address Roorkee
Table is created.

In [ ]:
#Day 3

In [82]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('Automobile_data.csv')

In [39]:
print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19     3.4              10.0        102
4            136         mpfi  3.19     3.4               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01     3.4              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [40]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [41]:
df.shape

(205, 26)

In [71]:
df['price']

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object

In [43]:
df['price'].min()

'10198'

In [68]:
df['price'].max()

'?'

In [77]:
count = df[df["horsepower"] > '100'].count()
count

symboling            203
normalized-losses    203
make                 203
fuel-type            203
aspiration           203
num-of-doors         203
body-style           203
drive-wheels         203
engine-location      203
wheel-base           203
length               203
width                203
height               203
curb-weight          203
engine-type          203
num-of-cylinders     203
engine-size          203
fuel-system          203
bore                 203
stroke               203
compression-ratio    203
horsepower           203
peak-rpm             203
city-mpg             203
highway-mpg          203
price                203
dtype: int64

In [79]:
count_hatchback = df[df['body-style'] == 'hatchback'].count()

In [83]:
df["price"]=pd.to_numeric(df["price"])

ValueError: Unable to parse string "?" at position 9

In [80]:
df[df['price'] == 7099]

Empty DataFrame
Columns: [symboling, normalized-losses, make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 26 columns]