In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\kumar\appdata\roaming\python\python310\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pymysql

In [17]:
def createconnection():
    return pymysql.connect(user="root",database="database1",password="mellowwater50",host="localhost",port=3306)

createconnection()

In [ ]:
#Day 2

In [19]:
def createtable():
    conn = createconnection()
    cursor = conn.cursor()
    query = "CREATE TABLE student (Name VARCHAR(50), Age VARCHAR(50), Address VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("Table is created.")
    conn.close()

createtable()

Table is created.

In [ ]:
#Improvised

In [ ]:
def insertdata(Name,Age,Address):
    conn = createconnection()
    cursor = conn.cursor()
    args=Name,Age,Address
    query = "insert into student(Name,Age,Address)values(%s,%s,%s)"
    cursor.execute(query,args)
    conn.commit()
    print("Table is created.")
    conn.close()
na=input("Enter your name ")
ag=int(input("Enter your age "))
add=input("Enter your address ")
insertdata(na,ag,add)

Enter your name Amit
Enter your age 1
Enter your address Roorkee
Table is created.